@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hospital SalesVivo</h1>
    <p>Pagina de Registro de pacientes, realize esta accíon en la vista de "Pacientes."</a>.</p>
</div>
